modules = ["web", "python-3.12", "bash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Install and Run"

[[workflows.workflow]]
name = "Install and Run"
author = 38345444
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python borsa.py"
